{% extends 'QTAppliBundle:Base:layout.html.twig' %}


{% block title %}Page accueil{% endblock %}

{% block stylesheets %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ asset('css/external/w3.css') }}">
	<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans'>
	<link rel="stylesheet" href="{{ asset('css/external/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ asset('css/external/colors.css') }}">
	<link rel="stylesheet" href="{{ asset('css/base.css') }}">
	<link rel="stylesheet" href="{{ asset('css/topic.css') }}">
	<link rel="stylesheet" href="{{ asset('css/formulaire.css') }}">
	<link rel="stylesheet" href="{{ asset('css/layout.css') }}">
	<link rel="stylesheet" href="{{ asset('css/responsive_design.css') }}">
	<link rel="icon" type="image/x-icon" href="{{ asset('pictures/favicon.ico') }}" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	{# Bricolage pour detecter un acces par iphone et afficher le petit editeur #}
	{% if app.request.headers.get("user-agent") matches '/\.\*iPhone\.\*/' %}
		<script src="//cdn.ckeditor.com/4.5.8/basic/ckeditor.js"></script>
	{% else %}
		<script src="//cdn.ckeditor.com/4.5.8/standard/ckeditor.js"></script>	
	{% endif %}
	
{% endblock %}

{% block menu %}  
	{{ include("QTAppliBundle:Modules:menu.html.twig") }}
{% endblock %}    


{% block raccourcis %}
	<div class="raccourci"><a href="{{ path('accueil')}}"><p>ACCUEIL</p></a></div>
	<div class="raccourci"><a href="{{ path('lister_topic')}}"><p>TOPICS</p></a></div>
{% endblock %}


{% block alertbox %}
   <span onclick="this.parentElement.style.display='none'" class="w3-hover-text-grey w3-closebtn">
		<i class="fa fa-remove"></i>
   </span>
   <p><strong>Rappels</strong></p>
   <p>10h00 audio TeleIR</p>
   <p>15h00 DI Gaia</p>
{% endblock %}



{% block javascripts %}
// Accordion
	function myFunction(id) {
    	var x = document.getElementById(id);
    	if (x.className.indexOf("w3-show") == -1) {
        	x.className += " w3-show";
        	x.previousElementSibling.className += " w3-theme-d1";
    	} else { 
        	x.className = x.className.replace("w3-show", "");
        	x.previousElementSibling.className = 
        	x.previousElementSibling.className.replace(" w3-theme-d1", "");
    	}
	}

	// Used to toggle the menu on smaller screens when clicking on the menu button
	function openNav() {
    	var x = document.getElementById("navDemo");
    	if (x.className.indexOf("w3-show") == -1) {
       		x.className += " w3-show";
    	} else { 
        	x.className = x.className.replace(" w3-show", "");
    	}
	}
{% endblock %}