{% extends 'QTAppliBundle:Base:base.html.twig' %}

{% block conteneur_gauche %}
	{# On masque le champ de gauche #}	
{% endblock %}

{% block conteneur_droite %}
	{# On masque le champ de gauche #}	
{% endblock %}

{% block contenu_full_page %}
{% if verrou.utilisateur.id == app.user.id %}	
	<div class="w3-card-2 w3-white w3-round">					
			{{ form_start(formulaire, {'attr': {'class': 'formulaire'}}) }}
				
				<div id="topic_formulaire" class="w3-row" style="margin-bottom: 10px">
					<div class="w3-col m7"> {# cadre de gauche #}
					<table>
						<tr>
							<td>{{ form_label(formulaire.titre, "Titre", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}</td>
							<td>{{ form_widget(formulaire.titre) }}</td>
						</tr>
						<tr>
							<td>{{ form_label(formulaire.domaines, "Domaines", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}</td>
							<td>{{ form_widget(formulaire.domaines) }}</td>
						</tr>

						
							
							{% if topic_type == 'DI' %}
						<tr>
							<td>{{ form_label(formulaire.intervention.numDi, "DI", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}</td>
							<td>{{ form_widget(formulaire.intervention.numDi) }}</td>
						</tr>
						<tr>
							<td>{{ form_label(formulaire.intervention.dateIntervention, "Date intervention", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}</td>
							<td>{{ form_widget(formulaire.intervention.dateIntervention) }}</td>
						</tr>
							{% endif %}
					</table>
					</div>
					<div class="w3-col m5"> {# cadre d'upload de fichier #}
						{{ form_widget(formulaire.pj) }}
					</div>
				</div>
				
				<div id="topic_textarea" class="col-sm-10">
					{{ form_widget(formulaire.corps) }}
				</div>
				{{ form_widget(formulaire.save) }}
				<a href="{{ path('lister_topic') }}"><button type="button" class="cancel">Cancel</button></a>
			{{ form_end(formulaire) }}						
 
      </div>
      <br>
      
	<script type="text/javascript">
			{% if topic_type == 'topic' %}
				CKEDITOR.replace( 'topic_corps' );
			{% endif %}
			{% if topic_type == 'DI' %}
				CKEDITOR.replace( 'topic_intervention_corps' );
			{% endif %}
	</script>
{% else %}
	<script>alert('VERROU par {{ dump(verrou) }} !!');</script>
{% endif %}
{% endblock %}
