{% extends 'QTAppliBundle:Base:base.html.twig' %}

{% block recherches %}
	<h4 class="w3-center" style="margin: 0px">Recherches</h4>
	{{ form(formulaire_recherche, {'attr': {'class': 'formulaire'}}) }}
{% endblock %}

{% block lanceurs %}
	<p><a href="{{ path('creer_topic', {'topic_type': 'topic'}) }}">
			<img src="{{ asset('pictures/EditBlack.png') }}" class="w3-circle" style="height:35px;width:35px;margin-left:10px" alt="Ajout Topic">
		</a>
		<a href="{{ path('creer_topic', {'topic_type': 'DI'}) }}">
			<img src="{{ asset('pictures/EditBlack.png') }}" class="w3-circle" style="height:35px;width:35px;margin-left:10px" alt="Ajout DI">
	</a></p>
{% endblock %}

{% block contenu %}
    {% for topic in liste_topics %}
      	{{ render(controller('QTBlocnotesBundle:Topic:afficherTopic', { 'topic' : topic })) }}
    {% endfor %}
{% endblock %}
