{% block contenu %}
	
	<div class="w3-container w3-card-2 w3-white w3-round w3-margin-left w3-margin-bottom">
		<div class="topic_header" style="height: 30px">
			{# Boutons edition/suppression #}
			<span class="w3-right w3-opacity">
				<a href="{{ path('editer_topic', {'topic_num': topic.id, 'topic_type': 'topic'}) }}">
					<img src="{{ asset('pictures/EditBlack.png') }}" class="w3-circle" style="height:15px;width:15px;margin-left:10px" alt="Ajout">
				</a>
				<a href="{{ path('supprimer_topic', {'topic_num': topic.id}) }}">
					<img src="{{ asset('pictures/DeleteRed.png') }}" class="w3-circle" style="height:15px;width:15px;margin-left:10px" alt="Suppression">
				</a>
			</span>
			{# ------- En-tête -------- #}
			<span style="margin: 2px">#{{ topic.id }} {{ topic.titre }}</span>
			<span style="margin: 2px; position: absolute; right: 120px">{{ topic.createur }} ({{ topic.dateCreation|date('Y-m-d') }})</span>
		</div>
		
		{# ---------- Corps ------- #}
        <hr class="w4-clear" style="margin: 0px">
		<div class="w3-row-padding" style="margin:0 -16px">
		  <div class="topic_corps">
			{# ---- Cartouche (DI) ---- #}
			
			{# ---- Texte ---- #}
				{{ topic.corps|raw }}
				
			{# affichage de la piece jointe #}
			<p>
				Liste des PJs : 
				{{ dump(topic) }}
			</p>
		  </div>
		</div>
      </div>
      
      
{% endblock %}
