{% block contenu %}
	
	<div class="w3-container w3-card-2 w3-white w3-round w3-margin-left w3-margin-bottom">
		<div class="topic_header" style="height: 30px">
			<span class="w3-right w3-opacity">
				<a href="{{ path('topic_edition', {'num_topic': topic.id}) }}">
					<img src="{{ asset('pictures/EditBlack.png') }}" class="w3-circle" style="height:15px;width:15px;margin-left:10px" alt="Ajout">
				</a>
				<a href="{{ path('topic_suppression', {'num_topic': topic.id}) }}">
					<img src="{{ asset('pictures/DeleteRed.png') }}" class="w3-circle" style="height:15px;width:15px;margin-left:10px" alt="Suppression">
				</a>
			</span>
			<span style="margin: 2px">#{{ topic.id }} {{ topic.titre }}</span>
			<span style="margin: 2px; position: absolute; right: 120px">{{ topic.createur }} ({{ topic.dateCreation|date('Y-m-d') }})</span>
		</div>
		
		{# --------------------------------- #}
        <hr class="w4-clear" style="margin: 0px">
		<div class="w3-row-padding" style="margin:0 -16px">
		  <div class="topic_corps">
			  
			  {{ topic.corps|raw }}
		  </div>
		</div>
      </div>
      
      
{% endblock %}
