{% extends 'QTAppliBundle:Base:base.html.twig' %}


{% block conteneur_recherches %} {% endblock %}
{% block conteneur_lanceurs %} {% endblock %}

{% block raccourcis %}
    <div class="raccourci"><a href="{{ path('lister_topic')}}"><p>Topics</p></a></div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="raccourci"><a href="{{ path('afficher_mutualisation')}}"><p>PF mutualisée</p></a></div>
        <div class="raccourci"><a href="{{ path('afficher_metrologie')}}"><p>Métrologie</p></a></div>
    {% endif %}
{% endblock %}

{% block contenu %}
    <h2 class="titre">ACCUEIL</h2>
	
    <div class="w3-card-2 w3-round w3-black bloc_redige">
        <p>
            Application Blocnotes/infra de gestion d'une PF virtualisée ayant plusieurs hyperviseurs et des services mutualisés
        </p>
    </div>
    
    
    <h4>Ressources</h4>
    <ul>
        <li>Hyperviseurs</li>
            <ul>
            {% for hyperviseur in liste_hyperviseurs %}
                <li><a href="{{ path('afficher_mutualisation') }}">{{ hyperviseur.nom }}</a> ({{hyperviseur.noeuds|length}} VMs)</li>
            {% endfor %}
            </ul>
        <li>Applications</li>
            <ul>
            {% for application in liste_applications %}
                <li><a href="{{ path('afficher_application', {'application_num':application.id}) }}">{{application.nom}}</a> ({{application.noeuds|length}} noeuds)</li>
            {% endfor %}
            </ul>
    </ul>
    
{% endblock %}