{% extends 'QTAppliBundle:Base:base.html.twig' %}

{% block raccourcis %}
    {% if is_granted('ROLE_ADMIN') %}
		<div class="raccourci"><a href="{{ path('afficher_mutualisation')}}"><p>PF mutualisées</p></a></div>
	{% endif %}
{% endblock %}

{% block listes %}
	<h4>Liste des noeuds</h4>
		<ul style="padding-left: 5px">
		{% for noeud in liste_noeuds %}
			{#<a href="#" id="{{info}}">{{info}}</a>#}
			<li style="list-style-type: none">
				<a href="{{ path('afficher_noeud', {'noeud_num': noeud.id, 'application_num': noeud.application.id}) }}">{{noeud.nom}}</a>
			</li>
		{% endfor %}
		</ul>

{% endblock %}

{% block lanceurs %}
	<p>
		<a href="{{ path('creer_noeud', {'application_num': application.id}) }}">
			<img src="{{ asset('pictures/EditBlack.png') }}" class="w3-circle" style="height:35px;width:35px;margin-left:10px" title="Ajout noeud">
		</a>
	</p>
{% endblock %}

{% block contenu %}
	{% if application.nom is defined %}
		<h2 class="titre">Application {{application.nom }}</h2>
	
		<h3>******** APPLICATIF ********</h3>
		<h4>Description
			<a href="{{ path('editer_application', {'application_num': application.id}) }}">
				<img src="{{ asset('pictures/EditBlack.png') }}" class="w3-circle" style="height:25px;width:25px;margin-left:10px" title="editer application">
			</a>
		</h4>
			<div class="w3-card-2 w3-round w3-black bloc_redige">
				{{ application.description|raw }}
			</div>
			
			
		<h4>Bundles utilisés</h4>

		
		<br><h3>******** SYSTEME ********</h3>
		<h4>Liste des serveurs</h4>

		{% for noeud in liste_noeuds %}
			{{ noeud.nom }}
			<a href="{{ path('editer_noeud', {'noeud_num': noeud.id, 'application_num': noeud.application.id}) }}">
				<img src="{{ asset('pictures/EditBlack.png') }}" class="w3-circle" style="height:15px;width:15px;margin-left:5px" title="editer noeud">
			</a>
			<a href="{{ path('supprimer_noeud', {'noeud_num': noeud.id}) }}">
				<img src="{{ asset('pictures/DeleteRed.png') }}" class="w3-circle" style="height:15px;width:15px;margin-left:5px" title="supprimer noeud">
			</a>
			
			<table class="formulaire" style="border: 1px solid black">
				<tr>
					<th>Description</th>
					<td>{{ noeud.descriptionCourte|raw }}</td>
				</tr>
				<tr>
					<th>Hyperviseur</th>
					<td>{{ noeud.hyperviseur.nom }}</td>
				</tr>
				<tr>
					<th>IP admin</th>
					<td>{{ noeud.ipAdmin }}</td>
				</tr>
				<tr>
					<th>IP data</th>
					<td>{{ noeud.ipData }}</td>
				</tr>
				<tr>
					<th>Nb CPU</th>
					<td>{{ noeud.nbCpu }}</td>
				</tr>
				<tr>
					<th>Nb RAM</th>
					<td>{{ noeud.nbRam }}</td>
				</tr>
			</table>
		
		{% endfor %}
		
	{% else %}
		<h2 class="titre">Appli inconnue</h2>
	{% endif %}
		
{% endblock %}