{% extends 'QTAppliBundle:Base:base.html.twig' %}

{% block raccourcis %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="raccourci"><a href="{{ path('accueil_cartographie')}}"><p>Cartographie</p></a></div>
		<div class="raccourci"><a href="{{ path('accueil_cartographie')}}"><p>PF virtuelles</p></a></div>
		<div class="raccourci"><a href="{{ path('afficher_applications')}}"><p>Applications</p></a></div>
		<div class="raccourci"><a href="{{ path('accueil_cartographie')}}"><p>Données</p></a></div>
	{% endif %}
{% endblock %}

{% block listes %}
	<h4>Liste des bundles</h4>
		<ul style="padding-left: 5px">
		{% for bundle in liste_bundles %}
			{#<a href="#" id="{{info}}">{{info}}</a>#}
			<li style="list-style-type: none">
				{{bundle}}
			</li>
		{% endfor %}
		</ul>
{% endblock %}

{% block contenu %}
    
	<h2 class="titre">Cartographie <u>applicative</u></h2>

    <div class="w3-card-2 w3-round w3-black bloc_redige">
        Liste des modules applicatif (bundles)
    </div>
    
    <h3>Liste des bundles</h3>
    <ul>
    {% for bundle in liste_bundles %}
        <li>{{bundle}}</li>
    {% endfor %}
	</ul>
		
{% endblock %}