{% extends 'QTAppliBundle:Base:base.html.twig' %}

{% block raccourcis %}
    {% if is_granted('ROLE_ADMIN') %}
		<div class="raccourci"><a href="{{ path('afficher_mutualisation')}}"><p>PF mutualisées</p></a></div>
		<div class="raccourci"><a href="{{ path('afficher_applicatif')}}"><p>Mod. applicatifs</p></a></div>
		<div class="raccourci"><a href="{{ path('afficher_carto_donnee')}}"><p>BDD</p></a></div>
	{% endif %}
{% endblock %}

{% block lanceurs %}
	<p>
		<a href="{{ path('creer_bundle') }}">
			<img src="{{ asset('pictures/EditBlack.png') }}" class="w3-circle" style="height:35px;width:35px;margin-left:10px" alt="Ajout Bundle">
		</a>
	</p>
{% endblock %}

{% block listes %}
	<h4>Liste des bundles</h4>
		<ul style="padding-left: 5px">
		{% for bundle in liste_bundles %}
			{#<a href="#" id="{{info}}">{{info}}</a>#}
			<li style="list-style-type: none">
				{{bundle.nom}}
			</li>
		{% endfor %}
		</ul>
{% endblock %}

{% block contenu %}
    
	<h2 class="titre">Cartographie <u>applicative</u> mutualisée</h2>

    <div class="w3-card-2 w3-round w3-black bloc_redige">
        <p>Liste des modules applicatifs (bundles)</p>
    </div>
    
    <h3>Liste des bundles</h3>
    <ul>
    {% for bundle in liste_bundles %}
		<table class="tableau_carto" style="border: 1px solid black">
			<tr>
				<th>{{bundle.nom}}</th>
			</tr>
			<tr>
				<td>{{bundle.description|raw}}</td>
			</tr>
		</table>
		<br>
    {% endfor %}
	</ul>
		
{% endblock %}