{% extends 'QTAppliBundle:Base:base.html.twig' %}


{% block listes %} {% endblock %}

{% block raccourcis %}
    {% if is_granted('ROLE_ADMIN') %}
		<div class="raccourci"><a href="{{ path('afficher_plateforme')}}"><p>PF mutualisées</p></a></div>
		<div class="raccourci"><a href="{{ path('afficher_applicatif')}}"><p>Mod. applicatifs</p></a></div>
		<div class="raccourci"><a href="{{ path('afficher_carto_donnee')}}"><p>BDD</p></a></div>
	{% endif %}
{% endblock %}

{% block lanceurs %}
	<p>
		<a href="{{ path('creer_bundle') }}">
			<img src="{{ asset('pictures/EditBlack.png') }}" class="w3-circle" style="height:35px;width:35px;margin-left:10px" alt="Ajout Bundle">
		</a>
	</p>
{% endblock %}

{% block contenu %}

	{{ form_start(formulaire, {'attr': {'class': 'formulaire'}}) }}
	<fieldset>
		<legend>
			{% if bundle is defined and bundle.nom != '' %}
				<h4>Bundle {{ bundle.nom }}</h4>
			{% else %}
				<h4>Nouveau bundle</h4>
			{% endif %}
		</legend>
		<div class="w3-col m5">
			<fieldset>
				<legend>Général</legend>
				<table>
					<tr>
						<td>{{ form_label(formulaire.nom, "Nom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}</td>
						<td>{{ form_widget(formulaire.nom) }}</td>
					</tr>
				</table>
			</fieldset>
		</div>
		<div class="w3-col m5">
			<fieldset>
				<legend>Réseau</legend>
			<table>
				<tr>

				</tr>
			</table>
			</fieldset>
		</div>
	</fieldset>
		<div id="application_textarea" class="col-sm-10" style="clear: both">
			{{ form_widget(formulaire.description) }}
		</div>
		
		<td>{{ form_widget(formulaire.Valider) }}</td>
		<a href="{{ path('afficher_applicatif') }}"><button type="button" class="cancel">Cancel</button></a>
	{{ form_end(formulaire) }}

	<script src="//cdn.ckeditor.com/4.5.9/standard/ckeditor.js"></script>
	<script type="text/javascript">
		CKEDITOR.replace( 'bundle_description' );
	</script>
	
{% endblock %}