{% extends 'QTAppliBundle:Base:base.html.twig' %}

{% block raccourcis %}
    {% if is_granted('ROLE_ADMIN') %}
		<div class="raccourci"><a href="{{ path('afficher_mutualisation')}}"><p>PF mutualisées</p></a></div>
		<div class="raccourci"><a href="{{ path('afficher_applicatif')}}"><p>Mod. applicatifs</p></a></div>
		<div class="raccourci"><a href="{{ path('afficher_carto_donnee')}}"><p>BDD</p></a></div>
	{% endif %}
{% endblock %}

{% block listes %}
	<h4>Liste des BDD</h4>
		<ul style="padding-left: 5px">
		{% for bdd in liste_bdds %}
			{#<a href="#" id="{{info}}">{{info}}</a>#}
			<li style="list-style-type: none">
				{{bdd}}
			</li>
		{% endfor %}
		</ul>
{% endblock %}

{% block contenu %}
    
	<h2 class="titre">Cartographie <u>BDD</u></h2>

    <div class="w3-card-2 w3-round w3-black bloc_redige">
        <p>Ensemble des base de données utilisées par tous les projets</p>
    </div>
    
    <h3>Liste des bases de données</h3>
    <ul>
    {% for bdd in liste_bdds %}
        <li>{{bdd}}</li>
    {% endfor %}
	</ul>
		
{% endblock %}