{% extends 'QTAppliBundle:Base:base.html.twig' %}

{% block raccourcis %}
    {% if is_granted('ROLE_ADMIN') %}
		<div class="raccourci"><a href="{{ path('afficher_mutualisation')}}"><p>PF mutualisées</p></a></div>
		<div class="raccourci"><a href="{{ path('afficher_application', {'application_num': noeud.application.id})}}"><p>Appli {{noeud.application.nom}}</p></a></div>
	{% endif %}
{% endblock %}

{% block lanceurs %}
	<p>
		<a href="{{ path('creer_noeud', {'application_num': noeud.application.id}) }}">
			<img src="{{ asset('pictures/EditBlack.png') }}" class="w3-circle" style="height:35px;width:35px;margin-left:10px" title="Ajout noeud">
		</a>
	</p>
{% endblock %}

{% block listes %}
	<h4>Liste des noeuds</h4>
		<ul style="padding-left: 5px">
		{% for noeud in liste_noeuds %}
			{#<a href="#" id="{{info}}">{{info}}</a>#}
			<li style="list-style-type: none">
				<a href="{{ path('afficher_noeud', {'noeud_num': noeud.id, 'application_num': noeud.application.id}) }}">{{noeud.nom}}</a>
			</li>
		{% endfor %}
		</ul>

{% endblock %}



{% block contenu %}
	
    <h2 class="titre">
		Application {{noeud.application.nom}} - 
        Noeud : {{noeud.nom}}
        <a href="{{ path('editer_noeud', {'noeud_num': noeud.id, 'application_num': noeud.application.id}) }}">
            <img src="{{ asset('pictures/EditBlack.png') }}" class="w3-circle" style="height:25px;width:25px;margin-left:10px" title="editer application">
        </a>
    </h2>
    
    <h4>Identité</h4>
        <p>Nom : {{ noeud.nom }}</p>
        <p>Application : {{noeud.application.nom}}</p>
    
    <h4>Description</h4>
        <div class="w3-card-2 w3-round w3-black bloc_redige">
            {{ noeud.descriptionCourte }}
        </div>
    
    <h4>Description détaillée</h4>
        <div class="w3-card-2 w3-round w3-black bloc_redige">
            {{ noeud.description|raw }}
        </div>
    
    <h4>Réseau</h4>
        <table class="tableau_carto">
            <tr>
                <th>IP admin</th>
                <td>{{ noeud.ipAdmin }}</td>
            </tr>
            <tr>
                <th>IP data</th>
                <td>{{ noeud.ipData }}</td>
            </tr>
        </table>
        
    <h4>Ressources physiques</h4>
        <table class="tableau_carto">
			<tr>
                <th>Hyperviseur</th>
                <td>
					<a href="{{path('afficher_hyperviseur', {'hyperviseur_num': noeud.hyperviseur.id})}}">{{noeud.hyperviseur.nom}}</a>
				</td>
            </tr>
            <tr>
                <th>Nb CPU</th>
                <td>{{ noeud.nbCpu }} vCPU</td>
            </tr>
            <tr>
                <th>Nb RAM</th>
                <td>{{ noeud.nbRam }} Mo</td>
            </tr>
        </table>
		<p># {{noeud.getVirshCreateCmd}}</p>
		
	<h4>Système</h4>
        <table class="tableau_carto">
			<tr>
                <th>OS</th>
                <td>{{ noeud.os}}</td>
            </tr>
		</table>
    
     <h4>Stockage - partionnement</h4>
		<table class="tableau_carto">
			<tr>
                <th>Taille disque</th>
                <td>{{ noeud.nbDisque }} Go</td>
            </tr>
		</table>
    
	<h4>Métrologie  <button class="btn_noeud_metrologie">(display)</button></h4>
		<div class="noeud_metrologie">
		{% block metrologie_noeud %}
			{{ render(controller('QTSystemeBundle:Metrologie:afficherMetrologieNoeud', {'noeud_num': noeud.id}))}}
		{% endblock %}
		</div>
{% endblock %}