{% extends 'QTAppliBundle:Base:base.html.twig' %}

{% block raccourcis %}
    {% if is_granted('ROLE_ADMIN') %}
		<div class="raccourci"><a href="{{ path('afficher_plateforme')}}"><p>PF virtuelles</p></a></div>
		<div class="raccourci"><a href="{{ path('afficher_applicatif')}}"><p>Applicatif</p></a></div>
		<div class="raccourci"><a href="{{ path('accueil_cartographie')}}"><p>Données</p></a></div>
	{% endif %}
{% endblock %}

{% block lanceurs %}
	<p>
		<a href="{{ path('creer_hyperviseur') }}">
			<img src="{{ asset('pictures/EditBlack.png') }}" class="w3-circle" style="height:35px;width:35px;margin-left:10px" title="Ajout hyperviseur">
		</a>
	</p>
{% endblock %}

{% block listes %}
    <h4>Liste des PF</h4>
		<ul style="padding-left: 5px">
		{% for pf in liste_plateformes %}
			{#<a href="#" id="{{info}}">{{info}}</a>#}
			<li style="list-style-type: none">
				{{pf.nom}}
			</li>
		{% endfor %}
		</ul>
{% endblock %}

{% block contenu %}
    
	<h2 class="titre">Cartographie <u>système</u> mutualisée</h2>

    <div class="w3-card-2 w3-round w3-black bloc_redige">
        <p>Liste des diférentes  PF, des hyperviseurs...</p>
    </div>
    
    <h3>Liste des plateformes</h3>
    <ul>
    {% for pf in liste_plateformes %}
        <li>{{pf.nom}}</li>
    {% endfor %}
	</ul>
    
    <h3>Hyperviseur</h3>
	<ul>
	{% for hyperviseur in liste_hyperviseurs %}
		<li>{{hyperviseur.nom}}</li>
		<ul>
			
		</ul>
	{% endfor %}
	</ul>
		
{% endblock %}