{% extends 'QTAppliBundle:Base:base.html.twig' %}

{% block raccourcis %}
    {% if is_granted('ROLE_ADMIN') %}
		<div class="raccourci"><a href="{{ path('afficher_plateforme')}}"><p>PF mutualisées</p></a></div>
		<div class="raccourci"><a href="{{ path('afficher_applicatif')}}"><p>Mod. applicatifs</p></a></div>
		<div class="raccourci"><a href="{{ path('afficher_carto_donnee')}}"><p>BDD</p></a></div>
	{% endif %}
{% endblock %}

{% block lanceurs %}
	<p>
		<a href="{{ path('creer_hyperviseur') }}">
			<img src="{{ asset('pictures/EditBlack.png') }}" class="w3-circle" style="height:35px;width:35px;margin-left:10px" title="Ajout hyperviseur">
		</a>
	</p>
{% endblock %}

{% block listes %}
    <h4>Liste des appli/PF</h4>
		<ul style="padding-left: 5px">
		{% for pf in liste_plateformes %}
			<li style="list-style-type: none">
				<a href="{{path('afficher_carto_application', {'application_num': pf.id})}}">
					{{pf.nom}}
				</a>
			</li>
		{% endfor %}
		</ul>
{% endblock %}

{% block contenu %}
    
	<h2 class="titre">Cartographie <u>système</u> mutualisée</h2>

    <div class="w3-card-2 w3-round w3-black bloc_redige">
        <p>Liste des diférentes  PF, des hyperviseurs...</p>
    </div>
    
    <h3>Liste des applications/plateformes</h3>
    <ul>
    {% for pf in liste_plateformes %}
        <li>
			<a href="{{path('afficher_carto_application', {'application_num': pf.id})}}">
				{{pf.nom}}
			</a>
		</li>
    {% endfor %}
	</ul>
    
    <h3>Liste des hyperviseurs</h3>
	
	{% for hyperviseur in liste_hyperviseurs %}
		<h4 style="text-align: center">
			<b>{{ hyperviseur.nom }}</b>
			<a href="{{ path('editer_hyperviseur', {'hyperviseur_num': hyperviseur.id}) }}">
				<img src="{{ asset('pictures/EditBlack.png') }}" class="w3-circle" style="height:15px;width:15px;margin-left:5px" title="editer noeud">
			</a>
			<a href="">
				<img src="{{ asset('pictures/DeleteRed.png') }}" class="w3-circle" style="height:15px;width:15px;margin-left:5px" title="supprimer noeud">
			</a>
		</h4>
		
		<table class="tableau_carto">
			<tr>
				<th>IP publique</th>
				<td>{{ hyperviseur.ipPublique }}</td>
			</tr>
			<tr>
				<th>Nb RAM</th>
				<td>{{ hyperviseur.nbRam }} Mo</td>
			</tr>
			<tr>
				<th>Disque dur</th>
				<td>{{ hyperviseur.nbDisque }} Go</td>
			</tr>
			<tr>
				<th>Système</th>
				<td>{{ hyperviseur.os }}</td>
			</tr>
			<tr>
				<th colspan="2">Description</th>
			</tr>
			<tr>
				<td colspan="2">{{ hyperviseur.description|raw }}</td>
			</tr>
		</table>
		<br>
		
		
		
		
		=> Occupation : <br>
		<table class="tableau_carto">
			<tr>
				<th>Nb de VMs</th>
				<td>{{ hyperviseur.noeuds| length }}</td>
			</tr>
			<tr>
				<th>Provisionning RAM</th>
				<td>{{ hyperviseur.occupationRam }} Mo ({{( hyperviseur.occupationRam / hyperviseur.nbRam) * 100}} %)</td>
			</tr>
			<tr>
				<th>Provisionning disque</th>
				<td>{{ hyperviseur.occupationDisque }} Go ({{( hyperviseur.occupationDisque / hyperviseur.nbDisque) * 100}} %)</td>
			</tr>
		</table>
		<br>
		
		
		
		
		
		=> Liste des VMs attachées : <br>
		{% for noeud in hyperviseur.noeuds %}
			<b>{{ noeud.nom }}</b>
			
			<table class="tableau_carto">
				<tr>
					<th colspan="3">Application</th>
					<td colspan="3">
						<a href="{{path('afficher_carto_application', {'application_num': noeud.application.id})}}">
							{{ noeud.application.nom }}
						</a>	
					</td>
				</tr>
				<tr>
					<th colspan="3">Description</th>
					<td colspan="3">{{ noeud.descriptionCourte|raw }}</td>
				</tr>
				<tr>
					<th>IP admin</th>
					<td colspan="2">{{ noeud.ipAdmin }}</td>
					<th>Système</th>
					<td colspan="2">{{noeud.os}}</td>
				</tr>
				<tr>
					<th>Nb vCPU</th>
					<td>{{ noeud.nbCpu }}</td>
					<th>Nb RAM</th>
					<td>{{ noeud.nbRam }} Mo</td>
					<th>taille DD</th>
					<td>{{ noeud.nbDisque }} Go</td>
				</tr>
			</table>
			<br>
		{% endfor %}
	{% endfor %}
	
		
{% endblock %}