{% extends 'QTAppliBundle:Base:base.html.twig' %}

{% block conteneur_gauche %}
	{# On masque le champ de gauche #}	
{% endblock %}

{% block conteneur_droite %}
	{# On masque le champ de gauche #}	
{% endblock %}

{% block contenu_full_page %}
	<div class="w3-card-2 w3-white w3-round">					
			{{ form_start(formulaire, {'attr': {'class': 'formulaire'}}) }}
				
				<div id="bug_formulaire" class="w3-row" style="margin-bottom: 10px">
					<div class="w3-col m6"> {# cadre de gauche #}
					<table>
						<tr>
							<td>{{ form_label(formulaire.titre, "Titre", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}</td>
							<td>{{ form_widget(formulaire.titre) }}</td>
						</tr>
						<tr>
							<td>{{ form_label(formulaire.application, "Application", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}</td>
							<td>{{ form_widget(formulaire.application) }}</td>
						</tr>
                    </table>
					</div>
					<div class="w3-col m6"> {# cadre d'upload de fichier #}
                    <table>
                        <tr>
							<td>{{ form_label(formulaire.etat, "Etat", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}</td>
							<td>{{ form_widget(formulaire.etat) }}</td>
						</tr>
                    </table>
					</div>
				</div>
				
				<div id="bug_textarea" class="col-sm-10">
					{{ form_widget(formulaire.corps) }}
				</div>
				{{ form_widget(formulaire.save) }}
				<a href="{{ path('lister_bug') }}"><button type="button" class="cancel">Cancel</button></a>
			{{ form_end(formulaire) }}						
 
      </div>
      <br>
      
	<script type="text/javascript">
		CKEDITOR.replace( 'bugzilla_corps' );
	</script>
	
	

{% endblock %}
