{% block menu %}

  	<li style="display: none" id="btn_menu_smartphone">
    	<a class="" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  	</li>
  	<li><a href="{{ path('accueil') }}" class="w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i></a></li>
  	<li class="w3-hide-small"><a href="{{ path('lister_topic') }}" class="w3-padding-large w3-hover-white" title="blocnotes">Bloc-notes</a></li>
	<li class="w3-hide-small w3-theme-d4"><a href="#" class="w3-padding-large w3-hover-white" title="calendriers">Calendriers</a></li>
	<li class="w3-hide-small"><a href="{{ path('lister_documents') }}" class="w3-padding-large w3-hover-white" title="documents">Documents</a></li>
  	
	<li class="w3-hide-small w3-dropdown-hover w3-theme-d4">
		<a href="{{path('accueil_cartographie')}}" class="w3-padding-large w3-hover-white" title="cartographie">Cartographie</a>
		<div class="w3-dropdown-content w3-white w3-card-4">
				<a href="{{path('afficher_applicatif') }}">Applicatif</a>
				<a href="{{path('afficher_plateforme')}}">PF systemes</a>
				<a href="#">Données</a>
			</div>
	</li>
	
	{% if is_granted('ROLE_ADMIN') %}
	<li class="w3-hide-small w3-dropdown-hover">
		<a href="#" class="w3-padding-large w3-hover-white" title="gestion">Gestion</a>
		<div class="w3-dropdown-content w3-white w3-card-4">
			<a href="{{ path('creer_utilisateur') }}">Utilisateurs</a>
			<a href="{{ path('ajouter_domaine') }}">Domaines</a>
		</div>
	</li>
	{% endif %}

	{% if is_granted('ROLE_ADMIN') %}
		<li class="w3-hide-small w3-dropdown-hover w3-theme-d4">
			<a href="{{path('accueil_pf')}}" class="w3-padding-large w3-hover-white" title="gestion">PF</a>
			<div class="w3-dropdown-content w3-white w3-card-4">
				<a href="{{ path('afficher_metrologie') }}">Métrologie</a>
				{#<a href="{{ path('afficher_systeme') }}">Systeme</a>#}
				<a href="{{ path('afficher_systeme') }}">Application</a>
			</div>
		</li>
	{% endif %}

	<li class="w3-hide-small w3-right w3-dropdown-hover">
		<a href="#" class="w3-padding-large w3-hover-white" title="My Account"><img src="{{ asset('pictures/img_avatar2.png') }}" class="w3-circle" style="height:25px;width:25px" alt="Avatar"></a>
		<div class="w3-dropdown-content w3-right w3-white w3-card-4" style="right: 2px">
			<a href="{{ path('afficher_profil') }}">Mon profil</a>
			<a href="{{ path('logout') }}">Logout</a>
		</div>
	</li>
	
	<script>
		{# affichage/masquage du menu pour smartphone #}
		$("#btn_menu_smartphone").click(function(){
			$(".w3-top ul li a").toggle();
		});		
	</script>
	
{% endblock %}