{% block menu %}

  	<li style="display: none" id="btn_menu_smartphone">
    	<a class="" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  	</li>
  	<li><a href="{{ path('accueil') }}" class="w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i></a></li>
	
  	{#<li class="w3-hide-small"><a href="{{ path('lister_topic') }}" class="w3-padding-large w3-hover-white" title="blocnotes">Bloc-notes</a></li>#}
	<li class="w3-hide-small w3-dropdown-hover">
		<a href="{{path('lister_topic')}}" class="w3-padding-large w3-hover-white" title="cartographie">Blocnotes</a>
		<div class="w3-dropdown-content w3-white w3-card-4">
			<a href="">Bugzilla</a>
		</div>
	</li>
	
	<li class="w3-hide-small w3-theme-d4"><a href="" class="w3-padding-large w3-hover-white" title="calendrier">Calendrier</a></li>
	<li class="w3-hide-small"><a href="{{ path('lister_documents') }}" class="w3-padding-large w3-hover-white" title="documents">Documents</a></li>
  	
	{% if is_granted('ROLE_ADMIN') %}
		<li class="w3-hide-small w3-dropdown-hover w3-theme-d4">
			<a href="{{path('afficher_mutualisation')}}" class="w3-padding-large w3-hover-white" title="cartographie">Cartographie</a>
			<div class="w3-dropdown-content w3-white w3-card-4">
				<a href="{{path('afficher_mutualisation')}}">PF mutualisée</a>
				<a href="{{ path('afficher_libvirt') }}">Déploiement</a>
				<a href="{{path('afficher_applicatif') }}">Mod. applicatifs</a>
				<a href="{{path('afficher_carto_donnee')}}">BDD</a>
			</div>
		</li>
	{% endif %}
	
	{% if is_granted('ROLE_ADMIN') %}
	<li class="w3-hide-small w3-dropdown-hover">
		<a href="#" class="w3-padding-large w3-hover-white" title="cartographie">Système</a>
		<div class="w3-dropdown-content w3-white w3-card-4">
			<a href="{{ path('afficher_metrologie') }}">Métrologie</a>
			<a href="{{ path('afficher_metrologie') }}">Sauvegarde</a>
		</div>
	</li>
	{% endif %}
	
	{# if is_granted('ROLE_ADMIN') #}
	<li class="w3-hide-small w3-dropdown-hover w3-theme-d4">
		<a href="#" class="w3-padding-large w3-hover-white" title="gestion">Admin</a>
		<div class="w3-dropdown-content w3-white w3-card-4">
			<a href="{{ path('creer_utilisateur') }}">Utilisateurs</a>
			<a href="{{ path('creer_domaine') }}">Domaines</a>
		</div>
	</li>
	{# endif #}

	<li class="w3-hide-small w3-right w3-dropdown-hover">
		<a href="#" class="w3-padding-large w3-hover-white" title="My Account"><img src="{{ asset('pictures/img_avatar2.png') }}" class="w3-circle" style="height:25px;width:25px" alt="Avatar"></a>
		<div class="w3-dropdown-content w3-right w3-white w3-card-4" style="right: 2px">
			{% if  not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<a href="{{ path('fos_user_security_login') }}">Login</a>
			{% endif %}
			<a href="{{ path('afficher_profil') }}">Mon profil</a>
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
				<a href="{{ path('fos_user_security_logout') }}">Logout</a>
			{% endif %}
		</div>
	</li>
	
	<script>
		{# affichage/masquage du menu pour smartphone #}
		$("#btn_menu_smartphone").click(function(){
			$(".w3-top ul li a").toggle();
		});		
	</script>
	
{% endblock %}