{% extends 'QTAppliBundle:Base:base.html.twig' %}

{% block conteneur_gauche %}
	{# On masque le champ de gauche #}	
{% endblock %}

{% block conteneur_droite %}
	{# On masque le champ de gauche #}	
{% endblock %}

{% block contenu_full_page %}      
    <div class="w3-col m6">
        <h4>Ajout d'un nouveau domaine</h4>
        <div>
            {{ form(formulaire, {'attr': {'class': 'formulaire'}}) }}
        </div>
    </div>
    
    <div class="w3-col m4">
        <h4>Stats des domaines</h4>
        <ul>
            {% for domaine in liste_domaines %}
                <li>
                    {{ domaine.id }} : {{ domaine.libelle }}
                </li>
            {% endfor%}
        </ul>
    </div>
    
    <div class="w3-col m10">
        <h4>Liste des domaines</h4>
        <ul>
            {% for domaine in liste_domaines %}
                <li>
                    <a href="{{ path('lister_topic', {'topic_recherche[domaines][]': domaine.id}) }}">
						{{ domaine.libelle }}
					</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}