{% extends 'QTAppliBundle:Base:base.html.twig' %}

{% block raccourcis %}
    {% if is_granted('ROLE_ADMIN') %}
		<div class="raccourci"><a href="{{ path('lister_topic')}}"><p>Topics</p></a></div>
		<div class="raccourci"><a href="{{ path('creer_domaine')}}"><p>Domaines</p></a></div>
		<div class="raccourci"><a href="{{ path('creer_utilisateur')}}"><p>Utilisateurs</p></a></div>
	{% endif %}
{% endblock %}

{% block contenu %}      
    <div class="w3-col m6">
		{{ form_start(formulaire, {'attr': {'class': 'formulaire'}}) }}
        <fieldset>
			<legend>Nouveau Domaine</legend>
			<table>
				<tr>
					<td>{{ form_label(formulaire.libelle, "Libelle", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}</td>
					<td>{{ form_widget(formulaire.libelle) }}</td>
				</tr>
				<tr>
					<td>{{ form_label(formulaire.domaineParent, "Domaine Parent", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}</td>
					<td>{{ form_widget(formulaire.domaineParent) }}</td>
				</tr>
			</table>
		</fieldset>	
		{{ form_end(formulaire) }}
    </div>
    
    <div class="w3-col m4">
        <h4>Stats des domaines</h4>
        <ul>
            {% for domaine in liste_domaines %}
                <li>
                    {{ domaine.id }} : {{ domaine.libelle }} ({{ domaine.topics|length }} topics)
                </li>
            {% endfor%}
        </ul>
    </div>
    
    <div class="w3-col m10">
        <h4>Liste des domaines</h4>
        <ul>
            {% for domaine in liste_domaines %}
				{% if domaine.domaineParent == null %}
					<li>
						<a href="{{ path('lister_topic', {'topic_recherche[domaines][]': domaine.id}) }}">
							{{ domaine.libelle }}
						</a>
						<a href="{{ path('editer_domaine', {'domaine_num': domaine.id}) }}">
							<img src="{{ asset('pictures/EditBlack.png') }}" class="w3-circle" style="height:15px;width:15px;margin-left:10px" alt="Ajout">
						</a>
						<a href="{{ path('supprimer_domaine', {'domaine_num': domaine.id}) }}">
							<img src="{{ asset('pictures/DeleteRed.png') }}" class="w3-circle" style="height:15px;width:15px;margin-left:10px" alt="Ajout">
						</a>		
				{% endif %}
					<ul>
					{% for sous_domaine in liste_domaines %}
						{% if domaine.domaineParent != null %}
							{% if domaine.domaineParent.id == sous_domaine.id %}
							<li>
								<a href="{{ path('lister_topic', {'topic_recherche[domaines][]': domaine.id}) }}">
									{{ domaine.libelle }}
								</a>
								<a href="{{ path('editer_domaine', {'domaine_num': domaine.id}) }}">
									<img src="{{ asset('pictures/EditBlack.png') }}" class="w3-circle" style="height:15px;width:15px;margin-left:10px" alt="Ajout">
								</a>
								<a href="{{ path('supprimer_domaine', {'domaine_num': domaine.id}) }}">
									<img src="{{ asset('pictures/DeleteRed.png') }}" class="w3-circle" style="height:15px;width:15px;margin-left:10px" alt="Ajout">
								</a>
							</li>
							{% endif %}
						{% endif %}
					{% endfor %}
					</ul>						
				</li>
				
            {% endfor %}
        </ul>
    </div>
{% endblock %}