{% extends 'QTAppliBundle:Base:base.html.twig' %}

{% block conteneur_lanceurs %}
	{# On masque le champ de gauche #}	
{% endblock %}

{% block conteneur_recherches %}
	{# On masque le champ de gauche #}	
{% endblock %}

{% block raccourcis %}
    <div class="raccourci"><a href="{{ path('lister_topic')}}"><p>Topics</p></a></div>
    {% if is_granted('ROLE_ADMIN') %}
		<div class="raccourci"><a href="{{ path('afficher_mutualisation')}}"><p>Mutualisation</p></a></div>
	{% endif %}
{% endblock %}

{% block contenu %}
    <h2 class="titre" >Mon profil - {{utilisateur.username}}</h2>
		

	{{ form_start(formulaire_password, {'attr': {'class': 'formulaire'}}) }}
    <fieldset>
        <legend>Modifier mon MDP</legend>
        <table>
            <tr>
                <th>{{ form_label(formulaire_password.plainPassword, "Password", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}</th>
                <td>{{ form_widget(formulaire_password.plainPassword) }}</td>
            </tr>
        </table>
    </fieldset>
    {{ form_end(formulaire_password) }}
    
	<h4>Modifier mes parametres</h4>	
	{{ form(formulaire_profil, {'attr': {'class': 'formulaire'}}) }}

{% endblock %}