{% extends 'QTAppliBundle:Base:base.html.twig' %}

{# block menu %}
	{{ include("QTAppliBundle:Base:menu.html.twig") }}
{% endblock #}

{% block conteneur_lanceurs %}
{% endblock %}

{% block recherches %}
	<h4>Indicateurs</h4>
	<form>
		<ul style="padding-left: 5px">
		{% for info in liste_infos %}
			{#<a href="#" id="{{info}}">{{info}}</a>#}
			<li style="list-style-type: none">
				<label><input type="checkbox" name="{{info}}" value="{{info}}" />  {{info}}</label>
			</li>
			<script>
				$(":checkbox {{info}}").click(function(){
					$(".{{info}}").toggle();
					
				});
			</script> 
		{% endfor %}
		</ul>
	</form>
{% endblock %}

{% block contenu %}
    <div style="padding-left: 30px">
        <h2 class="titre">Métrologie des serveurs</h2>
        <ul>
            {% for machine in liste_machines %}
                <li>
					<a href="https://151.80.45.53/munin/{{machine}}/{{machine}}/index.html">{{machine}}</a>
					<a href="#" id="{{machine}}">(graphs)</a>
				</li>
                <script>
					$("#{{machine}}").click(function(){
						$(".{{machine}}").toggle();
					});
				</script>
				<span style="" class="{{machine}}">
                {% for info in liste_infos %}
					<img style="" class="{{info}}" src="https://151.80.45.53/munin/{{machine}}/{{machine}}/{{info}}.png"/>
                {% endfor %}
				</span>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	
{% endblock %}