{% block metrologie_noeud %}
    
    <a href="https://quentin-david.ovh/munin/{{noeud.nom}}/{{noeud.nom}}/index.html" target="_blank">lien Munin : {{noeud.nom}}</a>
    <br>
    <div>
        {% for info in liste_infos %}
            <img class=" {{info}}" src="https://quentin-david.ovh/munin/{{noeud.nom}}/{{noeud.nom}}/{{info}}{{niveau_detail}}.png"/>
        {% endfor %}
    </div>
    
    <script>
        $(".btn_noeud_metrologie").click(function(){
           $(".noeud_metrologie").toggle(); 
        });
    </script>
    
{% endblock %}
