{% extends 'QTAppliBundle:Base:base.html.twig' %}

{# block menu %}
	{{ include("QTAppliBundle:Base:menu.html.twig") }}
{% endblock #}

{% block conteneur_lanceurs %}
{% endblock %}

{% block raccourcis %}
	{{parent()}}
	<div class="raccourci"><a href="https://151.80.45.53/munin/"><p>MUNIN</p></a></div>
{% endblock %}

{% block recherches %}
	<h4>Indicateurs</h4>
	<ul style="padding-left: 35px">
	{% for info in liste_infos %}
		<li>
			{{info}}
		</li>
	{% endfor %}
	</ul>
{% endblock %}

{% block contenu %}
    
        <h2 class="titre">Métrologie des serveurs</h2>
        <ul>
            {% for machine in liste_machines %}
                <li>
					<a href="https://151.80.45.53/munin/{{machine}}/{{machine}}/index.html">{{machine}}</a>
					<a href="#" id="{{machine}}">(graphs)</a>
					<br>
					<script>
						$("#{{machine}}").click(function(){
							$(".{{machine}}").toggle();
						});
					</script>
					<span style="display: none;" class="{{machine}}">
					{% for info in liste_infos %}
						<img style="display: inline; width: 48%; margin-bottom: 10px;" class=" {{info}}" src="https://151.80.45.53/munin/{{machine}}/{{machine}}/{{info}}.png"/>
					{% endfor %}
					</span>
					
				</li>
            {% endfor %}
        </ul>
    
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	
{% endblock %}