{% extends 'QTAppliBundle:Base:base.html.twig' %}

{% block raccourcis %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="raccourci"><a href="{{ path('afficher_metrologie')}}"><p>Metrologie</p></a></div>
        <div class="raccourci"><a href="{{ path('afficher_systeme')}}"><p>Système</p></a></div>
        <div class="raccourci"><a href="{{ path('afficher_application')}}"><p>Application</p></a></div>
	{% endif %}
{% endblock %}

{% block contenu %}
    <h2 class="titre">Accueil admin PF</h2>
        <div class="w3-card-2 w3-round w3-black bloc_redige">
            <p>Descrption exhaustive de mon application et de sa plate-forme</p>
        </div>
    
    <h4><a href="{{ path('afficher_metrologie')}}">Métrologie</a></h4>
        <div class="w3-card-2 w3-round w3-black bloc_redige">
            <p>Accès aux données de métrologie (graphes) de ma PF</p>
        </div>
        
    <h4><a href="{{ path('afficher_systeme')}}">Système</a></h4>
        <div class="w3-card-2 w3-round w3-black bloc_redige">
            <p>Liste des serveurs, de leur paramétrage, services, etc</p>
        </div>
    
    <h4><a href="{{ path('afficher_application')}}">Application</a></h4>
        <div class="w3-card-2 w3-round w3-black bloc_redige">
            <p>Description de l appli et de ses bundles</p>
        </div>
{% endblock %}